<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>idm-web</display-name>
	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>idm.root</param-value>
	</context-param>
	<filter>
		<filter-name>OAuthClientFilter</filter-name>
		<filter-class>com.isso.idm.client.filter.OAuthClientFilter</filter-class>
		<init-param>
			<param-name>clientId</param-name>
			<param-value>1002</param-value>
		</init-param>
		<init-param>
			<param-name>clientSecret</param-name>
			<param-value>utd</param-value>
		</init-param>
		<init-param>
			<param-name>verifyUrl</param-name>
			<param-value>http://portal.isso.com:8080/idm/oauth</param-value>
		</init-param>
		<init-param>
			<param-name>tokenUrl</param-name>
			<param-value>http://portal.isso.com:8080/idm/oauth</param-value>
		</init-param>
		<init-param>
			<param-name>excludePath</param-name>
			<param-value>/oauth</param-value>
		</init-param>
		<init-param>
			<param-name>excludeFile</param-name>
			<param-value>css,js,jpg</param-value>
		</init-param>

	</filter>
	<filter-mapping>
		<filter-name>OAuthClientFilter</filter-name>
		<url-pattern>/system/*</url-pattern>
		<url-pattern>/account/*</url-pattern>
		<url-pattern>/account_service/*</url-pattern>
		<url-pattern>/system_service/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>CorsFilter</filter-name>
		<filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
		<init-param>
			<param-name>cors.allowed.methods</param-name>
			<param-value>GET,POST,HEAD,OPTIONS,PUT,DELETE</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CorsFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>RestApiSecurityFilter</filter-name>
		<filter-class>com.isso.idm.filter.RestApiSecurityFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>RestApiSecurityFilter</filter-name>
		<url-pattern>/account_service/*</url-pattern>
		<url-pattern>/system_service/*</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>spring</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:spring-mvc.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>spring</servlet-name>
		<url-pattern>/oauth/*</url-pattern>
	</servlet-mapping>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:idm-spring-config.xml</param-value>
	</context-param>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>